<div class="row" id="procedure-table">
    {{ procedure_formset.management_form }}
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Date of Service</th>
                <th>CPT Code</th>
                <th>Line Charge</th>
                <th>Balance</th>
                <th>Payment</th>
                <th>Adjustment</th>
                <th>Reference</th>
            </tr>
        </thead>
        <tbody class="row found-procedure" id="found-procedure">
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>


<script type="text/template" class="found-procedure-template">
    <%
    _.each(procedures, function(procedure, i) {
        var p = procedure.fields;
        var balance = parseFloat(p.charge);
        var dos = moment(p.date_of_service, 'YYYY-MM-DD').format('MM/DD/YYYY');
        var payment_id = $('#{{form.payment.auto_id}}').val();
        var claim_id = $('#{{form.claim.auto_id}}').val();

        for(var ap of p.appliedPayment)
            balance = balance - parseFloat(ap.amount) + parseFloat(ap.adjustment);
    %>
    <tr class="found-procedure-item" data-procedure-id="<%- procedure.pk %>" data-procedure-index="<%- i %>">
        <td><%= dos %></td>
        <td><%= p.cpt %></td>
        <td><%= p.charge %></td>
        <td><%= balance.toFixed(2) %></td>
        <td><input type="text" class="form-control" id="<%= 'id_form-' + i + '-amount' %>" name="<%= 'form-' + i + '-amount' %>"></td>
        <td><input type="text" class="form-control" id="<%= 'id_form-' + i + '-adjustment' %>" name="<%= 'form-' + i + '-adjustment' %>"></td>
        <td><input type="text" class="form-control" id="<%= 'id_form-' + i + '-reference' %>" name="<%= 'form-' + i + '-reference' %>"></td>

        <input type="hidden" id="<%= 'id_form-' + i + '-procedure' %>" name="<%= 'form-' + i + '-procedure' %>" val="<%= procedure.pk %>">
    </tr>
    <% }); %>
</script>
        