*.pyc
/output.pdf
*.fdf
~$*.*x
~*.tmp
*.xls
.DS_Store
/media/documents/**/*.*
/temp/**/*.*

# ignore migration files everywhere because it is specific to computer.
# However, I will keep __init__.py for ease of makemigration command

**/migrations/*.py
!**/migrations/__init__.py
