deepdiff==1.0.0
Django==1.9.4
django-audit-log==0.7.0
django-countries==3.4.1
django-daterange-filter==1.2.0
django-languages==0.1
django-localflavor==1.2
django-simple-history==1.8.0
django-widget-tweaks==1.4.1
fdfgen==0.12.1
PyMySQL==0.7.2
django-database-storage==0.1.2
django-db-file-storage==0.4.0
django-extensions==1.5.5
django-eztables==0.3.2
django-formtools==1.0
django-invoice==0.3.2
django-nose==1.4.3
django-parsley==0.6
django-tz-detect==0.2.6
django.js==0.8.1
future==0.15.2
MySQL-python==1.2.3
openpyxl==2.2.2
pyexcel==0.2.0
pyexcel-io==0.1.0
pyexcel-xls==0.1.0
pyexcel-xlsx==0.1.0
python-dateutil==2.5.3
pytz==2016.4
xlwt==1.0.0
xlwt-future==0.8.0