{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %} Apply Payment {% endblock title %}

{% block body %}
{{ form.errors }}
<div class="container">
    <h2 class="text-center">Apply Payment</h2>
    <form method="POST">{% csrf_token %}
        <div class="form-group">
            <div class="row">
                <label class="control-label required">Payment</label>
            </div>
            <div class="row payment-section">
                <div class="col-sm-1">
                    &nbsp;
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#search-payment-modal"><i class="fa fa-search"></i></button>
                </div>
                <div class="col-sm-1">
                    Payment ID
                    <input type="text" name="payment_id" class="form-control" readonly>
                </div>
                <div class="col-sm-2">
                    Payment Date
                    <input type="text" name="payment_date" class="form-control" readonly>
                </div>
                <div class="col-sm-2">
                    Payer Type
                    <input type="text" name="payer_type" class="form-control" readonly>
                </div>
                <div class="col-sm-2">
                    Payer Name
                    <input type="text" name="payer_name" class="form-control" readonly>
                </div>
                <div class="col-sm-2">
                    Amount
                    <input type="text" name="amount" class="form-control" readonly>
                </div>
                <div class="col-sm-2">
                    Unapplied Amount
                    <input type="text" name="unapplied_amount" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label required">Claim</label>
                {{ form.claim|add_class:"form-control" }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">Procedure</label>
                {{ form.procedure|add_class:"form-control" }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label required">Amount</label>
                {{ form.amount|add_class:"form-control" }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">Adjustment</label>
                {{ form.adjustment|add_class:"form-control" }}
            </div>
        </div>

        <input type="submit" value="Make Payment" class="btn btn-success">
        <a href="{% url 'dashboard:dashboard' %}" class="padding-btn margin-left link-btn-danger">Cancel</a>
    </form>
</div>


<div class="modal fade" id="search-payment-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Search Payment</h4>
            </div>
            <div class="modal-body">
                <div class="row search-payment">
                    <form method="POST" action="{% url 'accounting:api_search_payment' %}">
                        <div class="col-sm-3">
                            <input type="text" name="insurance_name" class="form-control" placeholder="Insurance name">
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group two-input">
                                <input type="text" name="first_name" class="form-control" placeholder="Patient first name">
                                <input type="text" name="last_name" class="form-control" placeholder="Patient last name">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input type="number" step="0.01" name="amount" class="form-control" placeholder="Amount">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="check_number" class="form-control" placeholder="Check number">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-block" id="search-payment-search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div style="height: 10px;">&nbsp;</div>
                <div class="row found-payment" id="found-payment">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/template" class="found-payment-template">
    <div class="row" style="margin: 0px 5px;">
        <table class="table table-striped table-condensed found-table" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th>Payment Date</th>
                    <th>Payer Type</th>
                    <th>Payer Name</th>
                    <th>Amount ($)</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(payments, function(payment, i) { var p = payment.fields; %>
                <tr class="found-payment-item" data-payment-index="<%- i %>">
                    <td><%= p.payment_date %></td>
                    <td><%= p.payer_type %></td>
                    <td><% if(p.payer_insurance) { %>
                        <%= p.payer_insurance.name %>
                    <% } else { %>
                        <%= p.payer_patient.full_name %>
                    <% } %></td>
                    <td><%= p.amount %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</script>


<script type="text/template" class="found-payment-row">
            
</script>

<script>
(function() {
    $('#search-payment-search').click(function(e) {
        form = $(e.currentTarget).closest('form');
        $.post(form.attr('action'), form.serialize(), function(payments) {
            // Append search result into Modal
            var foundPaymentTemplate = _.template($('script.found-payment-template').html(), {variable: 'payments'});
            $('#found-payment').html(foundPaymentTemplate(payments));

            // Add click listener to found items at class level
            $('.found-payment-item').click(function(e) {
                var index = $(e.currentTarget).data('payment-index');

                // Assign value to UI
                var p = payments[index];
                var fields = p.fields;
                $('.payment-section input[name="payment_id"]').val(p.pk);
                $('.payment-section input[name="payment_date"]').val(fields.payment_date);
                $('.payment-section input[name="payer_type"]').val(fields.payer_type);
                if(fields.payer_insurance)
                    $('.payment-section input[name="payer_name"]').val(fields.payer_insurance.name);
                else
                    $('.payment-section input[name="payer_name"]').val(fields.payer_patient.full_name);
                $('.payment-section input[name="amount"]').val(fields.amount);

                // Close modal
                $('#search-payment-modal').modal('hide');
            });
        });
    });
})();
</script>
{% endblock body %}