{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %} Apply Payment {% endblock title %}

{% block body %}
{{ form.errors }}
<div class="container">
    <h2 class="text-center">Apply Payment</h2>
    <form method="POST">{% csrf_token %}
        <div class="form-group">
            <div class="row">
                <label class="control-label required">Payment</label>
            </div>
            <div class="row payment-section">
                <div class="col-sm-1">
                    &nbsp;
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#search-payment-modal"><i class="fa fa-search"></i></button>
                </div>
                <div class="col-sm-1">
                    Payment ID
                    {{ form.payment|add_class:"form-control"|attr:"readonly" }}
                </div>
                <div class="col-sm-2">
                    Payment Date
                    <input type="text" name="payment_date" class="form-control" readonly>
                </div>
                <div class="col-sm-2">
                    Payer Type
                    <input type="text" name="payer_type" class="form-control" readonly>
                </div>
                <div class="col-sm-2">
                    Payer Name
                    <input type="text" name="payer_name" class="form-control" readonly>
                </div>
                <div class="col-sm-2">
                    Amount
                    <input type="text" name="amount" class="form-control" readonly>
                </div>
                <div class="col-sm-2">
                    Unapplied Amount
                    <input type="text" name="unapplied_amount" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label class="control-label required">Claim</label>
            </div>
            <div class="row claim-section">
                <div class="col-sm-1">
                    &nbsp;
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#search-claim-modal"><i class="fa fa-search"></i></button>
                </div>
                <div class="col-sm-1">
                    Claim ID
                    {{ form.claim|add_class:"form-control"|attr:"readonly" }}
                </div>
                <div class="col-sm-3">
                    Patient First Name
                    <input type="text" name="first_name" class="form-control" readonly>
                </div>
                <div class="col-sm-3">
                    Patient Last Name
                    <input type="text" name="last_name" class="form-control" readonly>
                </div>
                <div class="col-sm-2">
                    Date of Birth
                    <input type="text" name="dob" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">Procedure</label>
                {{ form.procedure|add_class:"form-control" }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label required">Amount</label>
                {{ form.amount|add_class:"form-control" }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">Adjustment</label>
                {{ form.adjustment|add_class:"form-control" }}
            </div>
        </div>

        <input type="submit" value="Make Payment" class="btn btn-success">
        <a href="{% url 'dashboard:dashboard' %}" class="padding-btn margin-left link-btn-danger">Cancel</a>
    </form>
</div>

{% include "./accounting/payment/modal/search-payment.html" %}
{% include "./accounting/payment/modal/search-claim.html" %}


<script>
(function() {
    function toggleLoadingIcon(el) {
        var button = $($(el).children().get(0));
        var iconSearch = 'fa-search';
        var iconLoad = 'fa-refresh fa-spin';
        if(button.hasClass(iconSearch)) {
            button.removeClass(iconSearch);
            button.addClass(iconLoad);
            $(el).prop('disabled', true);
        }
        else {
            button.removeClass(iconLoad);
            button.addClass(iconSearch);
            $(el).prop('disabled', false);
        }
    }

    $('.search-modal').click(function(e) {
        var button = e.currentTarget;
        var type = $(button).data('type');
        toggleLoadingIcon(button);

        form = $(e.currentTarget).closest('form');
        $.post(form.attr('action'), form.serialize())
            .done(function(objects) {
                // Append search result into Modal
                var foundObjectTemplate = _.template($('script.found-' + type + '-template').html(), {variable: type+'s'});
                $('#found-' + type).html(foundObjectTemplate(objects));

                // Add click listener to found items at class level
                $('.found-' + type + '-item').click(function(e) {
                    if(type === 'payment')
                        foundPaymentItem(e, objects);
                    else if(type === 'claim')
                        foundClaimItem(e, objects);

                    $('.modal.fade').modal('hide');
                });
            })
            .fail(function() {
                $('#found-' + type).html(`
                    <h4 class="text-center not-found">An unexptected error has occured, please try again later.</h4>
                `);
            })
            .always(function() {
                toggleLoadingIcon(button);
            });
    });

    // Click function for found payment item
    function foundPaymentItem(e, payments) {
        var index = $(e.currentTarget).data('payment-index');

        // Assign value to UI
        var p = payments[index];
        var fields = p.fields;
        $('.payment-section input[name="payment"]').val(p.pk);
        $('.payment-section input[name="payment_date"]').val(fields.payment_date);
        $('.payment-section input[name="payer_type"]').val(fields.payer_type);
        if(fields.payer_insurance)
            $('.payment-section input[name="payer_name"]').val(fields.payer_insurance.name);
        else
            $('.payment-section input[name="payer_name"]').val(fields.payer_patient.full_name);
        $('.payment-section input[name="amount"]').val(fields.amount);
    };

    // Click function for found claim item
    function foundClaimItem(e, claims) {
        var index = $(e.currentTarget).data('claim-index');

        // Assign value to UI
        var c = claims[index];
        var fields = c.fields;
        $('.claim-section input[name="claim"]').val(c.pk);
        $('.claim-section input[name="first_name"]').val(fields.patient.first_name);
        $('.claim-section input[name="last_name"]').val(fields.patient.last_name);
        var dob = moment(fields.patient.dob, 'YYYY-MM-DD');
        $('.claim-section input[name="dob"]').val(dob.format('MM/DD/YYYY'));
    };
})();
</script>
{% endblock body %}