{% extends "base.html" %}

{% load widget_tweaks %}
{% load index %}

{% block title %} Apply Payment {% endblock title %}

{% block body %}

{% if apply_formset.errors %}
    {% for error in apply_formset.errors %}
        {{ error }}
    {% endfor %}
{% endif %}

{% if apply_formset.non_form_errors %}
    {{ apply_formset.non_form_errors }}
{% endif %}

<div class="container">
    <h2 class="text-center">Apply Payment</h2>
    {% include "accounting/payment/payment_claim_search.html" %}

    <form method="POST" action="{% url 'accounting:payment_apply_create' payment.pk claim.pk %}">{% csrf_token %}
        <div class="row" id="procedure-table">
            {{ apply_formset.management_form }}
            {% if payment.payer_type == 'Insurance' %}
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Date of Service</th>
                            <th>CPT Code</th>
                            <th>Line Charge</th>
                            <th>Balance</th>
                            <th>Payment</th>
                            <th>Adjustment</th>
                            <th>Reference</th>
                        </tr>
                    </thead>
                    <tbody class="row found-procedure" id="found-procedure">
                        {% for apply_form in apply_formset %}
                        <tr>
                            <input
                                type="hidden"
                                name="{{apply_form.charge.html_name}}"
                                id="{{apply_form.charge.auto_id}}"
                                value="{{apply_form.charge.value}}"
                            >
                            <input
                                type="hidden"
                                name="{{apply_form.payment.html_name}}"
                                id="{{apply_form.payment.auto_id}}"
                                value="{{payment.pk}}"
                            >
                            <td>{{apply_data|indexList:forloop.counter0|indexDict:'date_of_service'}}</td>
                            <td>{{apply_data|indexList:forloop.counter0|indexDict:'cpt_code_text'}}</td>
                            <td>{{apply_data|indexList:forloop.counter0|indexDict:'charge_amount'}}</td>
                            <td>{{apply_data|indexList:forloop.counter0|indexDict:'balance'}}</td>
                            <td>{{apply_form.amount|add_class:"form-control"}}</td>
                            <td>{{apply_form.adjustment|add_class:"form-control"}}</td>
                            <td>{{apply_form.reference|add_class:"form-control"}}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Date of Service</th>
                            <th>CPT Code</th>
                            <th>Charge</th>
                            <th>Balance</th>
                            <th>Patient Responsibility</th>
                            <th>Payment</th>
                            <th>Reference</th>
                            <th>New Balance</th>
                        </tr>
                    </thead>
                    <tbody class="row found-procedure" id="found-procedure">
                        {% for apply_form in apply_formset %}
                            <tr>
                                <input
                                    type="hidden"
                                    name="{{apply_form.charge.html_name}}"
                                    id="{{apply_form.charge.auto_id}}"
                                    value="{{apply_form.charge.value}}"
                                >
                                <input
                                    type="hidden"
                                    name="{{apply_form.payment.html_name}}"
                                    id="{{apply_form.payment.auto_id}}"
                                    value="{{payment.pk}}"
                                >
                                <td>{{apply_data|indexList:forloop.counter0|indexDict:'date_of_service'}}</td>
                                <td>{{apply_data|indexList:forloop.counter0|indexDict:'cpt_code_text'}}</td>
                                <td>{{apply_data|indexList:forloop.counter0|indexDict:'charge_amount'}}</td>
                                <td class="balance">{{apply_data|indexList:forloop.counter0|indexDict:'balance'}}</td>
                                <td>{{apply_data|indexList:forloop.counter0|indexDict:'resp_type'}}</td>
                                <td>{{apply_form.amount|add_class:"form-control amount"}}</td>
                                <td>{{apply_form.reference|add_class:"form-control"}}</td>
                                <td class="new-balance" style="padding-left: 10px;"></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100">
                                    <h4 class="text-center not-found">There is no charge for patient in this claim.</h4>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <input type="submit" class="btn btn-success" value="Make Payment" id="submit-make-payment">
        <a href="{% url 'dashboard:dashboard' %}" class="padding-btn margin-left link-btn-danger">Cancel</a>
    </form>
</div>


<script>
'use strict';
(function() {

    $('#payment_id').change(setFlashingButton)
    $('#claim_id').change(setFlashingButton)

    function setFlashingButton() {
        var init_p_id = '{{payment.pk}}';
        var init_c_id = '{{claim.pk}}';
        var payment_id = $('#payment_id').val();
        var claim_id = $('#claim_id').val();

        var submitMakePayment = $('#submit-make-payment');
        var submitSearchProcedure = $('#submit-search-procedure');

        if(payment_id == init_p_id &&
                claim_id == init_c_id) {
            submitMakePayment.prop('disabled', false);
            submitSearchProcedure.removeClass('suggest-pushing');
        }
        else {
            submitMakePayment.prop('disabled', true);
            submitSearchProcedure.addClass('suggest-pushing');
        }
    }

    $('.amount').keyup(function(e) {
        var input = $(e.currentTarget);
        var row = input.closest('tr');
        var balance = row.find('.balance').html();
        var amount = row.find('.amount').val();

        if(balance && amount)
            row.find('.new-balance').html(Math.roundP(balance - amount, 2));
    });

})();
</script>
{% endblock body %}
