td{
	background-color: rgb(230, 255, 255)
}
th{
	background-color: rgb(0, 180, 77)
}
table.table tr:hover td{
	background-color: #ffed87
}
/*#patienthrefhidden{
	visibility:hidden;
	position: absolute;
	top:0;
}*/

table.myTable{
	width: 100%
}
table.auto
{
    table-layout:auto
}