{% extends "base.html" %}
{% load tags_extra %}
{% load widget_tweaks %}
{% load staticfiles %}
    <title>Sortable Table</title>
    {% block script %}
        <script src="{% static 'infoGatherer/js/tablesorter.min.js' %}"></script>
    {% endblock script %}
    {% block link %}
        <link rel="stylesheet" href="{% static 'infoGatherer/css/audit_log.css' %}">
    {% endblock link %}


{% block body %}

<!-- {{info}} -->
<div class=" container">
    <h2>Audit Log</h2>
    <table id="myTable" class="table tablesorter">
    <thead class="thead-default" >
        <tr>
            <th>Row ID</th>
            <th>Date/Time</th>
            <th>First name</th>
            <th>Last name</th>
            <th>What changed</th>
            <th>Old Value</th>
            <th>New Value</th>
            <th>History id</th>
            <th>Who changed?</th>
            <th>History type</th>

        </tr>
    </thead>
    <tbody>
            {% with ":"|add:display_rows as iterable %}
                {% for ele in info|slice:iterable %}
    	    	<tr>
        			<td>{{ forloop.counter }}</td>
    				<td>{{ele.history_date}}</td>
                    <td>{{ele.first_name}}</td>
                    <td>{{ele.last_name}}</td>
                    <td>{{ele.change}}</td>
                    <td>{{ele.oldvalue}}</td>
                    <td>{{ele.newvalue}}</td>
                    <td>{{ele.history_id}}</td>
                    <td>{{ele.history_user_id}}</td>
                    <td>{{ele.history_type|get_corresponding_text}}</td>
        		</tr>
    	    	{% endfor %}
            {% endwith %}
    </tbody>
    </table>
    <span class="btn-group dropup">
        <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
            <span class="page-size">Filter</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="?num=5">5</a></li>
            <li class="active"><a href="?num=10">10 (default)</a></li>
            <li><a href="?num=50">50</a></li>
            <li><a href="?num=100">100</a></li>
        </ul>
    </span>
</div>


<script>
    $(document).ready(function(){
        $(function(){
            $("#myTable").tablesorter();
        });

    });


    // $(document).ready(function(){
    //     $(function(){
    //         var i=5;
    //         $("tbody").html("{{info.0}});
    //     });

    // });

    function print(){
        console.log("234");
    }

    function get_5(){
        return 5;
    }



    
</script>
{% endblock body %}