{% extends "base.html" %}
{% load tags_extra %}
{% load staticfiles %}
    <title>Sortable Table</title>
    {% block script %}
        <!--         <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>


 -->
        <script src="{% static 'infoGatherer/js/tablesorter.min.js' %}"></script>

        
    {% endblock script %}


    {% block link %}
        <link rel="stylesheet" href="{% static 'infoGatherer/css/autoincrement_table.css' %}">
    {% endblock link %}

{% block body %}

<!--
To-do:
(1) change history type
+ : created
~ : changes
- : deleted 

(2) get user name from usr id

(3) changed content

-->


<!-- {{info}} -->
<div class="container">
    <table id="myTable" class="table tablesorter table-hover table-bordered">
    <thead class="thead-default" bgcolor="#d0cece">
        <tr>
            <th>Row ID</th>
            <th>Date/Time</th>
            <th>Created by</th>
            <th>History type</th>
            <th>First name</th>
            <th>Last name</th>
            <th>History id</th>
            <th>Change</th>
        </tr>
    </thead>
    <tbody>
	    	{% for ele in info %}
	    	<tr>
    			<td></td>
				<td>{{ele.history_date}}</td>
	    		<td>{{ele.history_user_id}}</td>
	    		<td>{{ele.history_type|get_corresponding_text}}</td>
	    		<td>{{ele.first_name}}</td>
	    		<td>{{ele.last_name}}</td>
	    		<td>{{ele.history_id}}</td>
	    		<td></td>
    		</tr>
	    	{% endfor %}
    </tbody>
    </table>
</div>


<script>
    $(document).ready(function(){
        $(function(){
            $("#myTable").tablesorter();
        });

    });



    
</script>
{% endblock body %}