{% extends "base.html" %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <p> state: {{state}} </p>
    <form method="post" action="">
        {% csrf_token %}
        <table>
            <tr><td>Username</td><td><input type="text" name="username"></td></tr>
            <tr><td>Password</td><td><input type="password" name="password"></td></tr>
        </table>
        <a href="/info/user/password/reset/">Reset Password</a>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="/info/login/" />
    </form>
{% endblock %}