{% extends "project_base.html" %}

{% load staticfiles %}

{% block script %}
<script src="{% static 'infoGatherer/js/autocomplete_claim.js' %}"></script>
<script src="{% static 'infoGatherer/js/jquery.autocomplete.min.js' %}"></script>
{% endblock script %}


{% block link %}
<link rel="stylesheet" href="{% static 'infoGatherer/css/autocomplete.css' %}">
<link href="{% static 'infoGatherer/open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'infoGatherer/open-iconic/font/css/open-iconic.css' %}" rel="stylesheet">
<style type="text/css">
    @media (min-width: 1200px) { .container { width: 700px !important; }}
</style>
{% endblock link %}


{% block body %}

<div class="container" id="hideAll" style="display:none">

{% if form.error %}
    <p style="color: red;">Please submit a search term.</p>
{% endif %}

<form id="myForm" action="pdf" method="get" data-toggle="validator">
    {% csrf_token %}
    <br/>



    <h1>Patient</h1><br/><br/>
    
    <!-- *Patients name -->
    <div class="fieldWrapper ">
        <label for="id_pat_name">Patient's name</label>
        {{ form.pat_name }}
        <input type="hidden" name="patient_chart_no" id="patient_chart_no" data-patient-chart-no>
    </div>

    <!-- *Patients Address -->
    <div class="fieldWrapper ">
        <label for="id_pat_streetaddress">Patient's Address</label>
        {{ form.pat_streetaddress }}
        <label for="id_pat_city"></label>
        {{ form.pat_city }}
        <label for="id_pat_state"></label>
        {{ form.pat_state }}
        <label for="id_pat_zip"></label>
        {{ form.pat_zip }}
    </div>
    <div class="fieldWrapper " >
        <label for="id_pat_telephone">Phone No.</label>
        {{ form.pat_telephone }}
    </div>
    <!-- Birth Date -->
    <div class="fieldWrapper ">
        <label for="id_birth_date">Birth Date</label>
        {{ form.birth_date }}
    </div>
    <!-- *Patient sex -->
    <div class="fieldWrapper ">
        <label for="id_pat_sex">Patient's sex</label>
        {{ form.pat_sex }}
    </div>
    <!-- *Patient Relationship to Insured -->
    <div class="fieldWrapper">
        {{ form.pat_relationship.errors }}
        <label for="id_pat_relationship">Patient's Relationship to Insured</label>
        {{ form.pat_relationship }}
    </div>
    
    <div class="fieldWrapper">
        <label for="id_pat_reservednucc1">Reserved for NUCC use</label>
        {{ form.pat_reservednucc1 }}
    </div>
    

    <div class="fieldWrapper">
        <label>Is Patients Condition related to:</label> 
        <div class="checkbox">
            <label>{{ form.pat_relation_emp }}Emploment</label>
        </div>
        <div class="checkbox">
            <label>{{ form.pat_relation_auto_accident }}Auto Accident</label>
            <label id="input_show_hide" style="display:none">{{ form.pat_auto_accident_state }}</label>
            
        </div>
        <div class="checkbox">
            <label>{{ form.pat_relation_other_accident }}Other Accident</label>
            
        </div>
    </div>
    <div class="fieldWrapper">
        <label for="id_claim_codes">Claim Codes</label>
        {{ form.claim_codes }}
    </div>
    <div class="fieldWrapper">
        <div class="checkbox">
            <label class="c-input c-checkbox"><span class="c-indicator"></span>{{ form.insured_other_benifit_plan }}Is there another health benifit plan?</label>
        </div>
    </div>




    <div id="show_hide" style="display:none">
        <!-- Others insured name -->
        <div class="fieldWrapper">
            <label for="id_pat_other_insured_name">Other Insured's Name</label>
            {{ form.pat_other_insured_name }}
        </div>
        <div class="fieldWrapper">
            <label for="id_pat_other_insured_policy">Other Insured's Policy/Group Number</label>
            {{ form.pat_other_insured_policy }}
        </div>
        <div class="fieldWrapper">
            <label for="id_pat_reservednucc2">Reserved for NUCC use</label>
                {{ form.pat_reservednucc2 }}
            <label for="id_pat_reservednucc3"></label>
                {{ form.pat_reservednucc3 }}
        </div>
        <!-- Insurance plan name or program name -->
        <div class="fieldWrapper">
            <label for="id_pat_insuranceplanname">Insurance plan name or program name</label>
            {{ form.pat_insuranceplanname }}
        </div>
    </div>

    <br/>
    <h1>Insured</h1>
    <br/><br/>


    <!-- *insured name -->
    <div class="fieldWrapper ">
        <label for="id_insured_name">Insured's name</label>
        {{ form.insured_name }}
        <input type="hidden" name="insured_chart_no" id="insured_chart_no" data-insured-chart-no>
    </div>
    <!-- *Payer Number -->
    <div class="fieldWrapper ">
        <label for="id_payer_num">Payer Number</label>
        {{ form.payer_num }}
    </div>
    <div class="fieldWrapper ">
        <label for="id_payer_name">Payer Name</label>
        {{ form.payer_name }}
    </div>
    <div class="fieldWrapper ">
        <label for="id_payer_name">Payer Address</label>
        {{ form.payer_address }}
    </div>
    

    <!-- *Health Plan -->
    <div class="fieldWrapper ">
        <label for="id_health_plan">Health Plan</label>
        {{ form.health_plan }}
    </div>
    <!-- Insured id number -->
    <div class="fieldWrapper " >
        <label for="id_insured_idnumber">Insured's id number</label>
        {{ form.insured_idnumber }}
    </div>
    
    <!-- *insured Address -->
    <div class="fieldWrapper ">
        <label for="id_insured_streetaddress">Insured's Address</label>
        {{ form.insured_streetaddress }}
        <label for="id_insured_city"></label>
        {{ form.insured_city }}
        <label for="id_insured_state"></label>
        {{ form.insured_state }}
        <label for="id_insured_zip"></label>
        {{ form.insured_zip }}
    </div>
    <div class="fieldWrapper ">
        <label for="id_insured_telephone">Phone No.</label>
        {{ form.insured_telephone }}
    </div>
    <div class="fieldWrapper ">
        <label for="id_insured_other_insured_policy">Insured's Policy/Group Number</label>
        {{ form.insured_other_insured_policy }}
    </div>
    <!-- Birth Date -->
    <div class="fieldWrapper ">
        <label for="id_insured_birth_date">Insured's Birth Date</label>
        {{ form.insured_birth_date }}
    </div>
    <!-- *Insured sex -->
    <div class="fieldWrapper ">
        <label for="id_insured_sex">Insured's sex</label>
        {{ form.insured_sex }}
    </div>
    <div class="fieldWrapper">
        <label for="id_other_cliam_id">Other claim id</label>
        {{ form.other_cliam_id }}
    </div>
    <div class="fieldWrapper ">
        <label for="id_insured_plan_name_program">Insurance plan name or program name</label>
        {{ form.insured_plan_name_program }}
    </div>
    
    <br/>
    <h1>Physician Informaiton</h1><br/><br/>
    <div class="fieldWrapper ">
        <label for="id_first_name">First name</label>
        {{ form2.first_name }}
    </div>  
    <div class="fieldWrapper ">
        <label for="id_last_name">Last name</label>
        {{ form2.last_name }}
    </div>  
    <div class="fieldWrapper ">
        <label for="id_NPI">NPI</label>
        {{ form2.NPI }}
    </div>  
    <div class="form-group fieldWrapper">
        <label for="id_ICD_10">Diagnosis</label>
        <div class="row">
            <div class="col-xs-2">
                <div class="input-group">
                    <div class="input-group-addon">A</div>
                    <input type="text" name="ICD_10_1" id="id_ICD_10_1" >
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group">
                    <div class="input-group-addon">B</div>
                    <input type="text" name="ICD_10_2" id="id_ICD_10_2" >
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group">
                    <div class="input-group-addon">C</div>
                    <input type="text" name="ICD_10_3" id="id_ICD_10_3" >
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group">
                    <div class="input-group-addon">D</div>
                    <input type="text" name="ICD_10_4" id="id_ICD_10_4">
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group">
                    <div class="input-group-addon">E</div>
                    <input type="text" name="ICD_10_5" id="id_ICD_10_5">
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group">
                    <div class="input-group-addon">F</div>
                    <input type="text" name="ICD_10_6" id="id_ICD_10_6">
                </div>
            </div>
            <div class="col-xs-2" style="margin-top:5px">
                <div class="input-group">
                    <div class="input-group-addon">G</div>
                    <input type="text" name="ICD_10_7" id="id_ICD_10_7">
                </div>
            </div>
            <div class="col-xs-2" style="margin-top:5px">
                <div class="input-group">
                    <div class="input-group-addon">H</div>
                    <input type="text" name="ICD_10_8" id="id_ICD_10_8">
                </div>
            </div>
            <div class="col-xs-2" style="margin-top:5px">
                <div class="input-group">
                    <div class="input-group-addon">I</div>
                    <input type="text" name="ICD_10_9" id="id_ICD_10_9">
                </div>
            </div>
            <div class="col-xs-2" style="margin-top:5px">
                <div class="input-group">
                    <div class="input-group-addon">J</div>
                    <input type="text" name="ICD_10_10" id="id_ICD_10_10">
                </div>
            </div>
            <div class="col-xs-2" style="margin-top:5px">
                <div class="input-group">
                    <div class="input-group-addon">K</div>
                    <input type="text" name="ICD_10_11" id="id_ICD_10_11">
                </div>
            </div>
            <div class="col-xs-2" style="margin-top:5px">
                <div class="input-group">
                    <div class="input-group-addon">L</div>
                    <input type="text" name="ICD_10_12" id="id_ICD_10_12">
                </div>
            </div>
        </div>

    </div>

    <!-- Billing Provider -->
    <div class="fieldWrapper ">
        <label for="id_billing_provider_name">Billing Provider's name</label>
        {{ form4.provider_name }}
    </div>
    <!-- Location Provider -->
    <div class="fieldWrapper ">
        <label for="id_location_provider_name">Location Provider's name</label>
        {{ form4.provider_name }}
    </div>
    <!-- Rendering Provider -->
    <div class="fieldWrapper ">
        <label for="id_rendering_provider_name">Rendering Provider's name</label>
        {{ form4.provider_name }}
    </div>
    <!-- Birth Date -->
    <div class="fieldWrapper ">
        <label for="id_insured_birth_date">Insured's Birth Date</label>
        {{ form.insured_birth_date }}
    </div>





    <br/>
    <button type="submit" class="btn btn-primary btn-md" value="Submit Button">Print Please!</button>
</form>
</div>

<script>
    autocomplete_claim([
        "{% url 'infoGatherer:get_make_claim_extra_context' %}",
        "{% url 'infoGatherer:get_json_personal_info' %}",
        "{% url 'infoGatherer:get_json_personal_and_insurance_info' %}",
    ]);
</script>

<script>
        // function valid(){
        //     console.log("asfasdf");

        //     if(document.getElementById("id_insured_other_benifit_plan").checked==true){
        //         document.getElementById('show_hide').style.display = "block";
        //     }
        // }

        function init(){
            
            document.getElementById('show_hide').style.display='none';
            document.getElementById('input_show_hide').style.display='none'            

            // Div tasgs
            var d = document.getElementsByClassName("fieldWrapper");
            for(i=0;i<d.length;i++){
                d[i].className+=" form-group";
            }

            // Label tags
            var d = document.getElementsByTagName("label");
            for(i=0;i<d.length;i++){
                d[i].className+=" control-label";
            }

            // Input tags
            var d = document.getElementsByTagName("input");
            for(i=0;i<d.length;i++){
                    d[i].className+=" form-control";
                    //d[i].setAttribute("required", "");
            }
            document.getElementById("id_pat_relation_emp").className="";
            document.getElementById("id_pat_relation_auto_accident").className="";
            document.getElementById("id_pat_relation_other_accident").className="";
            document.getElementById("id_insured_other_benifit_plan").className="";
            
            
            // Select tags
            var d = document.getElementsByTagName("select");
            for(i=0;i<d.length;i++){
                d[i].className+=" form-control";
            }

            // OnClick for 9 (a) ---- (d)
            document.getElementById("id_insured_other_benifit_plan").onclick=function(){if (document.getElementById('show_hide').style.display==='none'){document.getElementById('show_hide').style.display = "block"} else {document.getElementById('show_hide').style.display = "none"}}

            // Adding class to state # box
            document.getElementById("id_pat_auto_accident_state").className+=" input-sm";
            
            // Onlick state for Auto Accident
            document.getElementById("id_pat_relation_auto_accident").onclick=function(){if (document.getElementById('input_show_hide').style.display==='none'){document.getElementById('input_show_hide').style.display = "inline-block"} else {document.getElementById('input_show_hide').style.display = "none"}}

            //Filling default value
            $("#id_insured_other_insured_policy").val("NONE");

            // render page only after script has loaded
            document.getElementById("hideAll").style.display = "block";
                    

            // form validation
            $('form').validate({
                errorPlacement: function(error, element) {},
                rules: {
                    pat_name: "required",
                    pat_streetaddress: "required",
                    pat_city: "required",
                    pat_state: "required",
                    pat_zip: "required",
                    pat_telephone: {
                        required: true,
                        phoneUS: true
                    },
                    birth_date: {
                        required: true,
                        date: true
                    },
                    insured_idnumber: "required",
                    insured_name: "required",
                    insured_streetaddress: "required",
                    insured_city: "required",
                    insured_state: "required",
                    insured_zip: "required",
                    insured_telephone: {
                        required: true,
                        phoneUS: true
                    },
                    insured_other_insured_policy: "required",
                    insured_birth_date: {
                        required: true,
                        date: true
                    },
                    other_cliam_id: {
                        required: false
                    },
                    insured_plan_name_program: "required",
                    payer_num: "required",
                    payer_name: "required",
                    payer_address: {
                        required: false
                    },
                    first_name: "required",
                    last_name: "required",
                    NPI: "required"
                },
                highlight: function(element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-error');
                }

            });

        }
        window.onload = init;

    </script>

{% endblock body %}