
{% load staticfiles %}

<script type="text/javascript" src="{% static 'infoGatherer/jquery-2.2.0.min.js' %}"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="{% static 'infoGatherer/jquery.autocomplete.min.js' %}"></script>
<script type="text/javascript" src="{% static 'infoGatherer/jquery.cookie.js' %}"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style type="text/css">@media (min-width: 1200px) { .container { width: 700px !important; }}</style>

<div class="container" id="hideAll" style="display:none">

{% if form.error %}
    <p style="color: red;">Please submit a search term.</p>
{% endif %}

<form id="myForm" action="pdf" method="get" data-toggle="validator">
    {% csrf_token %}
    <br/>



    <h1>Patient</h1><br/><br/>
    
    <!-- *Patients name -->
    <div class="fieldWrapper ">
        <label for="id_pat_name">Patient's name</label>
        {{ form.pat_name }}
        <input type="hidden" name="patient_chart_no" id="patient_chart_no" data-patient-chart-no>
    </div>


    
    

    <!-- *Patients Address -->
    <div class="fieldWrapper ">
        <label for="id_pat_streetaddress">Patient's Address</label>
        {{ form.pat_streetaddress }}
        <label for="id_pat_city"></label>
        {{ form.pat_city }}
        <label for="id_pat_state"></label>
        {{ form.pat_state }}
        <label for="id_pat_zip"></label>
        {{ form.pat_zip }}
    </div>
    <div class="fieldWrapper " >
        <label for="id_pat_telephone">Phone No.</label>
        {{ form.pat_telephone }}
    </div>
    <!-- Birth Date -->
    <div class="fieldWrapper ">
        <label for="id_birth_date">Birth Date</label>
        {{ form.birth_date }}
    </div>
    <!-- *Patient sex -->
    <div class="fieldWrapper ">
        <label for="id_pat_sex">Patient's sex</label>
        {{ form.pat_sex }}
    </div>
    <!-- *Patient Relationship to Insured -->
    <div class="fieldWrapper">
        {{ form.pat_relationship.errors }}
        <label for="id_pat_relationship">Patient's Relationship to Insured</label>
        {{ form.pat_relationship }}
    </div>
    
    <div class="fieldWrapper">
        <label for="id_pat_reservednucc1">Reserved for NUCC use</label>
        {{ form.pat_reservednucc1 }}
    </div>
    

    <div class="fieldWrapper">
        <label>Is Patients Condition related to:</label> 
        <div class="checkbox">
            <label>{{ form.pat_relation_emp }}Emploment</label>
        </div>
        <div class="checkbox">
            <label>{{ form.pat_relation_auto_accident }}Auto Accident</label>
            <label id="input_show_hide" style="display:none">{{ form.pat_auto_accident_state }}</label>
            
        </div>
        <div class="checkbox">
            <label>{{ form.pat_relation_other_accident }}Other Accident</label>
            
        </div>
    </div>
    <div class="fieldWrapper">
        <label for="id_claim_codes">Claim Codes</label>
        {{ form.claim_codes }}
    </div>
    <div class="fieldWrapper">
        <div class="checkbox">
            <label>{{ form.insured_other_benifit_plan }}Is there another health benifit plan?</label>
        </div>
    </div>
    <div id="show_hide" style="display:none">
        <!-- Others insured name -->
        <div class="fieldWrapper">
            <label for="id_pat_other_insured_name">Other Insured's Name</label>
            {{ form.pat_other_insured_name }}
        </div>
        <div class="fieldWrapper">
            <label for="id_pat_other_insured_policy">Other Insured's Policy/Group Number</label>
            {{ form.pat_other_insured_policy }}
        </div>
        <div class="fieldWrapper">
            <label for="id_pat_reservednucc2">Reserved for NUCC use</label>
                {{ form.pat_reservednucc2 }}
            <label for="id_pat_reservednucc3"></label>
                {{ form.pat_reservednucc3 }}
        </div>
        <!-- Insurance plan name or program name -->
        <div class="fieldWrapper">
            <label for="id_pat_insuranceplanname">Insurance plan name or program name</label>
            {{ form.pat_insuranceplanname }}
        </div>
    </div>

    <br/>
    <h1>Insured</h1>
    <br/><br/>



    <!-- *Payer Number -->
    <div class="fieldWrapper ">
        <label for="id_payer_num">Payer Number</label>
        {{ form.payer_num }}
    </div>
    <div class="fieldWrapper ">
        <label for="id_payer_name">Payer Name</label>
        {{ form.payer_name }}
    </div>
    <div class="fieldWrapper ">
        <label for="id_payer_name">Payer Address</label>
        {{ form.payer_address }}
    </div>
    

    <!-- *Health Plan -->
    <div class="fieldWrapper ">
        <label for="id_health_plan">Health Plan</label>
        {{ form.health_plan }}
    </div>
    <!-- Insured id number -->
    <div class="fieldWrapper " >
        <label for="id_insured_idnumber">Insured's id number</label>
        {{ form.insured_idnumber }}
    </div>
    <!-- *insured name -->
    <div class="fieldWrapper ">
        <label for="id_insured_name">Insured's name</label>
        {{ form.insured_name }}
        <input type="hidden" name="insured_chart_no" id="insured_chart_no" data-insured-chart-no>
    </div>
    <!-- *insured Address -->
    <div class="fieldWrapper ">
        <label for="id_insured_streetaddress">Insured's Address</label>
        {{ form.insured_streetaddress }}
        <label for="id_insured_city"></label>
        {{ form.insured_city }}
        <label for="id_insured_state"></label>
        {{ form.insured_state }}
        <label for="id_insured_zip"></label>
        {{ form.insured_zip }}
    </div>
    <div class="fieldWrapper ">
        <label for="id_insured_telephone">Phone No.</label>
        {{ form.insured_telephone }}
    </div>
    <div class="fieldWrapper ">
        <label for="id_insured_other_insured_policy">Insured's Policy/Group Number</label>
        {{ form.insured_other_insured_policy }}
    </div>
    <!-- Birth Date -->
    <div class="fieldWrapper ">
        <label for="id_insured_birth_date">Insured's Birth Date</label>
        {{ form.insured_birth_date }}
    </div>
    <!-- *Insured sex -->
    <div class="fieldWrapper ">
        <label for="id_insured_sex">Insured's sex</label>
        {{ form.insured_sex }}
    </div>
    <div class="fieldWrapper">
        <label for="id_other_cliam_id">Other claim id</label>
        {{ form.other_cliam_id }}
    </div>
    <div class="fieldWrapper ">
        <label for="id_insured_plan_name_program">Insurance plan name or program name</label>
        {{ form.insured_plan_name_program }}
    </div>
    
    <br/>
    <button type="submit" class="btn btn-primary btn-md" value="Submit Button">Print Please!</button>
</form>
</div>

<script>
    "use strict";
    $(function() {

        $('#make-claims-form').submit(function(e) {
            return false;
        });

        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // Prepare auto suggestion in name fields of both patient and insured
        $.ajax({
            url: "{% url 'infoGatherer:get_make_claim_extra_context' %}",
        }).done(function(data) {
            var jObj = JSON.parse(data);
            var patient_list = jObj.patient_list;
            var patient_list_obj = [];

            for(var patient of patient_list)
                patient_list_obj.push({
                    value: patient.first_name + " " + patient.last_name,
                    data: patient.chart_no,
                    hintAddress: patient.address + ", " + patient.city,
                })

            // Set auto suggestion for patient's name
            $("#id_pat_name").autocomplete({
                minChars: 0,
                lookup: patient_list_obj,
                formatResult: function(suggestion, currentValue) {
                    return suggestion.value + detailString(suggestion.hintAddress);
                },
                onSelect: function (suggestion) {
                    // Get patient information
                    $.post(
                        "{% url 'infoGatherer:get_json_personal_info' %}",
                        {personal_chart_no: suggestion.data},
                        function(patient_info_str) {
                            // Auto populate fields in patient section
                            var patient_info = JSON.parse(patient_info_str)["personal_information"][0];
                            var birth_date_str = patient_info.dob.substr(0,4) + "/" + patient_info.dob.substr(5,2) + "/" + patient_info.dob.substr(8,2);
                            $("#id_pat_streetaddress").val(patient_info.address);
                            $("#id_pat_city").val(patient_info.city);
                            $("#id_pat_state").val(patient_info.state);
                            $("#id_pat_zip").val(patient_info.zip);
                            $("#id_pat_telephone").val(patient_info.home_phone);
                            $("#id_birth_date").val(birth_date_str);
                            $("#id_pat_sex").val(patient_info.sex.substr(0,1));
                        }
                    );
                },
            });

            // Set auto suggestion for insured's name
            $("#id_insured_name").autocomplete({
                minChars: 0,
                lookup: patient_list_obj,
                formatResult: function(suggestion, currentValue) {
                    return suggestion.value + " <span class='detail'>" + suggestion.hintAddress + "</span>";
                },
                onSelect: function (suggestion) {
                    // Get insured information and insurance according to that person
                    $.post(
                        "{% url 'infoGatherer:get_json_personal_and_insurance_info' %}",
                        {personal_chart_no: suggestion.data},
                        function(insured_info_str) {
                            // Auto populate fields in insured section
                            var insured_info = JSON.parse(insured_info_str)["personal_information"][0];
                            var birth_date_str = insured_info.dob.substr(0,4) + "/" + insured_info.dob.substr(5,2) + "/" + insured_info.dob.substr(8,2);
                            $("#id_insured_streetaddress").val(insured_info.address);
                            $("#id_insured_city").val(insured_info.city);
                            $("#id_insured_state").val(insured_info.state);
                            $("#id_insured_zip").val(insured_info.zip);
                            $("#id_insured_telephone").val(insured_info.home_phone);
                            $("#id_insured_birth_date").val(birth_date_str);
                            $("#id_insured_sex").val(insured_info.sex.substr(0,1));

                            // Set auto suggestion for insurance id number
                            var insurance_list = JSON.parse(insured_info_str)["insurance_list"];
                            var insuranceNumberListObj = [];
                            for(i of insurance_list)
                                insuranceNumberListObj.push({value: i.insurance_id, insurance_data: i});

                            $("#id_insured_idnumber").autocomplete({
                                minChars: 0,
                                lookup: insuranceNumberListObj,
                                onSelect: populateInsuranceSection,
                                formatResult: function(suggestion, currentValue) {
                                    return suggestion.value + detailString(suggestion.insurance_data.payer.name);
                                },
                            });

                            // Set auto suggesntion for insurance name
                            var insuranceNameListObj = [];
                            for(i of insurance_list)
                                insuranceNameListObj.push({value: i.payer.name, insurance_data: i});

                            $("#id_payer_name").autocomplete({
                                minChars: 0,
                                lookup: insuranceNameListObj,
                                onSelect: populateInsuranceSection,
                                formatResult: function(suggestion, currentValue) {
                                    return suggestion.value + detailString(suggestion.insurance_data.payer.address + ", " + suggestion.insurance_data.payer.city);
                                },
                            });

                            // Set auto suggestion for insurance code
                            var insuranceCodeListObj = [];
                            for(i of insurance_list)
                                insuranceCodeListObj.push({value: i.payer.code + "", insurance_data: i});

                            $("#id_payer_num").autocomplete({
                                minChars: 0,
                                lookup: insuranceCodeListObj,
                                onSelect: populateInsuranceSection,
                                formatResult: function(suggestion, currentValue) {
                                    return suggestion.value + detailString(suggestion.insurance_data.payer.name);
                                },
                            });

                        }
                    );
                }
            });
        });

        function populateInsuranceSection(suggestion) {
            // Auto populate fields in insurance section
            var insurance = suggestion.insurance_data;
            var payer = insurance.payer;
            var fullAddress = payer.address + ' ' + payer.city + ' ' + payer.state + ' ' + payer.zip;
            $("#id_insured_idnumber").val(insurance.insurance_id);
            $("#id_payer_num").val(insurance.payer.code);
            $("#id_payer_name").val(insurance.payer.name);
            $("#id_payer_address").val(fullAddress);
        }

        function detailString(text) {
            return "<span class='detail'>" + text + "</span>"
        }

    });
</script>
<script>
        // function valid(){
        //     console.log("asfasdf");

        //     if(document.getElementById("id_insured_other_benifit_plan").checked==true){
        //         document.getElementById('show_hide').style.display = "block";
        //     }
        // }

        function init(){
            
            document.getElementById('show_hide').style.display='none';
            document.getElementById('input_show_hide').style.display='none'            

            // Div tasgs
            var d = document.getElementsByClassName("fieldWrapper");
            for(i=0;i<d.length;i++){
                d[i].className+=" form-group";
            }

            // Label tags
            var d = document.getElementsByTagName("label");
            for(i=0;i<d.length;i++){
                d[i].className+=" control-label";
            }

            // Input tags
            var d = document.getElementsByTagName("input");
            for(i=0;i<d.length;i++){
                    d[i].className+=" form-control";
                    //d[i].setAttribute("required", "");
            }
            document.getElementById("id_pat_relation_emp").className="";
            document.getElementById("id_pat_relation_auto_accident").className="";
            document.getElementById("id_pat_relation_other_accident").className="";
            document.getElementById("id_insured_other_benifit_plan").className="";
            
            
            // Select tags
            var d = document.getElementsByTagName("select");
            for(i=0;i<d.length;i++){
                d[i].className+=" form-control";
            }

            // OnClick for 9 (a) ---- (d)
            document.getElementById("id_insured_other_benifit_plan").onclick=function(){if (document.getElementById('show_hide').style.display==='none'){document.getElementById('show_hide').style.display = "block"} else {document.getElementById('show_hide').style.display = "none"}}

            // Adding class to state # box
            document.getElementById("id_pat_auto_accident_state").className+=" input-sm";
            
            // Onlick state for Auto Accident
            document.getElementById("id_pat_relation_auto_accident").onclick=function(){if (document.getElementById('input_show_hide').style.display==='none'){document.getElementById('input_show_hide').style.display = "inline-block"} else {document.getElementById('input_show_hide').style.display = "none"}}

            //Filling default value
            $("#id_insured_other_insured_policy").val("NONE");

            // render page only after script has loaded
            document.getElementById("hideAll").style.display = "block";
                    

            // form validation
            $('form').validate({
                errorPlacement: function(error, element) {},
                rules: {
                    pat_name: "required",
                    pat_streetaddress: "required",
                    pat_city: "required",
                    pat_state: "required",
                    pat_zip: "required",
                    pat_telephone: {
                        required: true,
                        phoneUS: true
                    },
                    birth_date: {
                        required: true,
                        date: true
                    },
                    insured_idnumber: "required",
                    insured_name: "required",
                    insured_streetaddress: "required",
                    insured_city: "required",
                    insured_state: "required",
                    insured_zip: "required",
                    insured_telephone: {
                        required: true,
                        phoneUS: true
                    },
                    insured_other_insured_policy: "required",
                    insured_birth_date: {
                        required: true,
                        date: true
                    },
                    other_cliam_id: {
                        required: false
                    },
                    insured_plan_name_program: "required",
                    payer_num: "required",
                    payer_name: "required",
                    payer_address: {
                        required: false
                    }
                },
                highlight: function(element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-error');
                }

            });

        }
        window.onload = init;

    </script>

<style type="text/css">
    .autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
    .autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #f0f0f0; }
    .autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
    .autocomplete-suggestions .detail { font-weight: normal; font-size: 0.8em; color: #999999; margin-left: 10px;}

    #searchfield form {
        display: inline-block;
        background: #eeefed;
        padding: 0;
        margin: 0;
        padding: 5px;
        border-radius: 3px;
        margin: 5px 0 0 0;
    }
    #searchfield form .biginput {
        width: 600px;
        height: 40px;
        padding: 0 10px 0 10px;
        background-color: #fff;
        border: 1px solid #c8c8c8;
        border-radius: 3px;
        color: #aeaeae;
        font-weight:normal;
        font-size: 1.5em;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    #searchfield form .biginput:focus {
        color: #858585;
    }

</style>