{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %} Loader {% endblock title %}

{% block body %}
<div class="container">
    {{form.errors}}
    <h2 class="text-center">Loader</h2>

    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <p>* This is a function to load initial data into database.  Please select .xlsx file with a valid format to initiate the data.  Please note that this process should be done only once the system has been luanched from fresh.</p>
            {{form.file|add_class:"form-control"}}
            <br>
            <input type="submit" value="Upload File" class="btn btn-primary">
            <a href="{% url 'dashboard:dashboard' %}" class="padding-btn margin-left link-btn-danger">Cancel</a>
        </form>
    </div>
</div>
{% endblock body %}
