select.form-control.dx-pt {
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

.well-sm {
    padding: 9px;
    border-radius: 3px;
    background-color: #f5f5f5;
}

.placeholder {
    color: #999 !important;
}

.label-placeholder {
    padding-top: 7px;
    margin-bottom: 7px;
    padding-left: 17px !important;
}

label.big-checkbox input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    bottom: 3px;
    margin-right: 5px;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
}

.auto-accident {
    margin-left: -20px !important;
    margin-top: 6px !important;
}

select.input-sm {
    height: 30px;
    line-height: 30px;
    margin: 0px;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    line-height: 32px;
}

.four-input .form-control {
    width: 25%;
    border-right-width: 0px;
}
.four-input .form-control:last-child, .four-input .form-control:focus {
    border-right-width: 1px;
}

.two-input .form-control {
    width: 50%;
    border-right-width: 0px;
}
.two-input .form-control:last-child, .two-input .form-control:focus {
    border-right-width: 1px;
}


.input-group.address-input {
    /*margin: 0px 5px;*/
}
.address-input .form-control {
    border-right-width: 0px;
}
.address-input .form-control.street {
    width: 35%;
}
.address-input .form-control.city {
    width: 25%;
}
.address-input .form-control.state {
    width: 25%;
}
.address-input .form-control.zip {
    width: 15%;
}
.address-input .form-control:last-child, .address-input .form-control:focus {
    border-right-width: 1px;
}

a.padding-btn {
    display: inline-block;
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: middle;
}
a.link-btn-danger:link,
a.link-btn-danger:visited {
    color: #d9534f;
}
a.link-btn-danger:focus,
a.link-btn-danger:hover,
a.link-btn-danger:active {
    color: #c9302c;
}

.margin-left {
    margin-left: 20px;
}

label.control-label {
    font-weight: normal;
    margin-bottom: 0px;
}
label.control-label.required {
    font-weight: bold;
}
label.control-label.required:after {
    content: " *";
    color: #ff0000;
}

h2.text-center {
    font-weight: bold;
    margin-top: 0px;
}

.found-table tbody tr:hover {
    background-color: #fdfd96 !important;
    cursor: pointer;
}

.not-found {
    color: #bbb;
}

@keyframes glowing {
    0% { background-color: #fff; box-shadow: 0 0 3px #fff; }
    12% { background-color: #fcfdca; box-shadow: 0 0 40px #fcfdca; }
    25% { background-color: #fdfd96; box-shadow: 0 0 3px #fdfd96; }
    75% { background-color: #fff; box-shadow: 0 0 3px #fff; }
}

.btn.suggest-pushing {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.grid-table td {
    padding: 0px 5px;
}

td.left-vertical-line,
th.left-vertical-line  {
    border-left: solid 1px #bbb;
}
