{% extends "project_base.html" %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock head %}

{% block body %}
<div class="container">
    <form method="post">{% csrf_token %}
        <h2>Reset Password</h2>
        <fieldset>
            <p>Link to reset password will be sent to your email address provided below.</p>
            {{ form.as_p }}
            <p><input type="submit" value="Send" class="btn btn-block"></p>
            <a href="{% url 'accounts:sign_in' %}">Cancel</a>
        </fieldset>
    </form>
</div>
{% endblock body %}