{% extends "project_base.html" %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock head %}

{% block body %}
<div class="container">
    <form method="post">{% csrf_token %}
        <h2>Reset Password</h2>
        <fieldset>
            
            {% if validlink %}
                {{form.as_p}}
                <p><input type="submit" value="Change my password" class="btn btn-block"></p>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
            {% endif %}

        </fieldset>
    </form>
</div>
{% endblock body %}