{% extends "project_base.html" %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock head %}

{% block body %}
<div class="container">
    <form class="form-signin" method="post">{% csrf_token %}
        <h2 class="form-signing-heading"><i class="fa fa-lock"></i> Sign In</h2>
        <fieldset>
            {{ form.as_p }}
            <p><input type="submit" value="Sign In" class="btn btn-block"></p>
            <a href="{% url 'accounts:password_reset' %}">Forgot your password?</a>
        </fieldset>
    </form>
</div>
{% endblock body %}