{% load widget_tweaks %}

<form method="POST" action="{% url 'accounting:payment_apply_read' %}">{% csrf_token %}
    <div>
        <table class="grid-table payment-section">
            <tr>
                <td class="col-sm-1"><label class="control-label required">Payment</label></td>
                <td class="col-sm-1">Payment ID</td>
                <td class="col-sm-2">Payment Date</td>
                <td class="col-sm-2">Payer Type</td>
                <td class="col-sm-2">Payer Name</td>
                <td class="col-sm-2">Amount</td>
                <td class="col-sm-2">Unapplied Amount</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#search-payment-modal"><i class="fa fa-search"></i></button></td>
                <td>{{pcs_form.payment|add_class:"form-control"}}</td>
                <td><input type="text" name="payment_date" class="form-control" readonly value="{{payment.payment_date}}"></td>
                <td><input type="text" name="payer_type" class="form-control" readonly value="{{payment.payer_type}}"></td>
                <td><input type="text" name="payer_name" class="form-control" readonly value="{{payment.payer_name}}"></td>
                <td><input type="text" name="amount" class="form-control" readonly value="{{payment.amount}}"></td>
                <td><input type="text" name="unapplied_amount" class="form-control" readonly value="{{payment.unapplied_amount}}"></td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 10px;">
        <table class="grid-table claim-section">
            <tr>
                <td class="col-sm-1"><label class="control-label required">Claim</label></td>
                <td class="col-sm-1">Claim ID</td>
                <td class="col-sm-3">Patient First Name</td>
                <td class="col-sm-3">Patient Last Name</td>
                <td class="col-sm-2">Date of Birth</td>
                <td class="col-sm-2"></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#search-claim-modal"><i class="fa fa-search"></i></button></td>
                <td>{{pcs_form.claim|add_class:"form-control"}}</td>
                <td><input type="text" name="first_name" class="form-control" readonly value="{{claim.patient.first_name}}"></td>
                <td><input type="text" name="last_name" class="form-control" readonly value="{{claim.patient.last_name}}"></td>
                <td><input type="text" name="dob" class="form-control" readonly value="{{claim.patient.dob}}"></td>
                <td></td>
            </tr>
        </table>

        <input type="hidden" name="search_type">
    </div>
    <br>
    <div class="form-group">
        <div class="row">
            <input type="button" class="btn btn-default" id="submit-search-procedure" value="Search Charge">
            <input type="button" class="btn btn-default" id="create-patient-charge" value="Create Patient Charge">
            <input type="button" class="btn btn-default" id="create-payment" value="Create Payment">
        </div>
    </div>
</form>


{% include "accounting/apply/template/search-payment.html" %}
{% include "accounting/apply/template/search-claim.html" %}


<script>
// 'use strict';
(function() {
    $('#submit-search-procedure').click(function(e) {
        var form = $(e.currentTarget).closest('form');
        form.find('input[name="search_type"]').val('search_charge');
        form.submit();
    })

    $('#create-patient-charge').click(function(e) {
        var form = $(e.currentTarget).closest('form');
        form.find('input[name="search_type"]').val('create_patient_charge');
        form.submit();
    })

    $('#create-payment').click(function(e) {
        var claim_id = $("#{{pcs_form.claim.auto_id}}").val();
        var url = "{% url "accounting:payment_create" %}";
        if(claim_id)
            url += "?claim=" + claim_id;

        window.location.href = url;
    });

    function toggleLoadingIcon(el) {
        var button = $($(el).children().get(0));
        var iconSearch = 'fa-search';
        var iconLoad = 'fa-refresh fa-spin';
        if(button.hasClass(iconSearch)) {
            button.removeClass(iconSearch);
            button.addClass(iconLoad);
            $(el).prop('disabled', true);
        }
        else {
            button.removeClass(iconLoad);
            button.addClass(iconSearch);
            $(el).prop('disabled', false);
        }
    }

    $('.search-modal').click(function(e) {
        var button = e.currentTarget;
        var type = $(button).data('type');
        toggleLoadingIcon(button);

        var form = $(e.currentTarget).closest('form');
        $.post(form.attr('action'), form.serialize())
            .done(function(objects) {
                // Append search result into Modal
                var foundObjectTemplate = _.template($('script.found-' + type + '-template').html(), {variable: type+'s'});
                $('#found-' + type).html(foundObjectTemplate(objects));

                // Add click listener to found items at class level
                $('.found-' + type + '-item').click(function(e) {
                    if(type === 'payment')
                        foundPaymentItem(e, objects);
                    else if(type === 'claim')
                        foundClaimItem(e, objects);

                    $('.modal.fade').modal('hide');
                });
            })
            .fail(function() {
                $('#found-' + type).html(`
                    <h4 class="text-center not-found">An unexptected error has occured, please try again later.</h4>
                `);
            })
            .always(function() {
                toggleLoadingIcon(button);
            });
    });

    // Click function for found payment item
    function foundPaymentItem(e, payments) {
        var index = $(e.currentTarget).data('payment-index');

        // Assign value to UI
        var p = payments[index];
        var fields = p.fields;
        var paymentSection = $('.payment-section');
        paymentSection.find('input[name="payment"]').val(p.pk);
        paymentSection.find('input[name="payment_date"]').val(fields.payment_date);
        paymentSection.find('input[name="payer_type"]').val(fields.payer_type);

        if(fields.payer_insurance)
            paymentSection.find('input[name="payer_name"]').val(fields.payer_insurance.name);
        else
            paymentSection.find('input[name="payer_name"]').val(fields.payer_patient.full_name);

        paymentSection.find('input[name="amount"]').val(fields.amount);
        paymentSection.find('input[name="unapplied_amount"]').val(fields.unapplied_amount);
    };

    // Click function for found claim item
    function foundClaimItem(e, claims) {
        var index = $(e.currentTarget).data('claim-index');

        // Assign value to UI
        var c = claims[index];
        var fields = c.fields;
        var claimSection = $('.claim-section');
        claimSection.find('input[name="claim"]').val(c.pk);
        claimSection.find('input[name="first_name"]').val(fields.patient.first_name);
        claimSection.find('input[name="last_name"]').val(fields.patient.last_name);
        var dob = moment(fields.patient.dob, 'YYYY-MM-DD');
        claimSection.find('input[name="dob"]').val(dob.format('MM/DD/YYYY'));
    };

})();
</script>
