{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
        <title>{% block title %} Xenon Health {% endblock title %}</title>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/csrf.js' %}"></script>
        <script src="{% static 'js/js.cookie.min.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/additional-methods.min.js' %}"></script>

        {% block script %}{% endblock script %}

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        

        <script src="{% static 'js/moment.min.js' %}"></script>
        <script src="{% static 'js/pikaday.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/pikaday.css' %}" />

        {% block link %}{% endblock link %}

        {% block head %}{% endblock head %}
    </head>

    <body>
        {% include "navbar.html" %}

        {% block body %}
        {% endblock body %}

        <script>
            // Add date picker to all date fields on the page
            (function() {
                var dateFields = $('.form-control.pikaday');
                for(var i=0; i<dateFields.length; i++) {
                    (function(i) {
                        var self = $(dateFields[i]);
                        self.click(function(e) {e.preventDefault();});
                        var picker = new Pikaday({
                            field: self[0],
                            format: 'MM/DD/YYYY',
                            onSelect: function(date) {
                                self.val(this.toString());
                            }
                        });
                    })(i);
                }
            })();
        </script>
    </body>
</html>