{% load staticfiles %}

{% url 'dashboard:dashboard' as dashboard %}
{% url 'infoGatherer:post_ad' as make_claim %}
{% url 'infoGatherer:track_charges' as track_charges %}
{% url 'infoGatherer:auditlog' as auditlog %}
{% url 'accounting:gross_payment_summary' as gross_payment_summary %}
{% url 'admin:index' as admin_index %}
{% url 'admin:password_change' as change_password %}
{% url 'accounts:sign_out' as sign_out %}
{% url 'accounts:sign_in' as sign_in %}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'dashboard:dashboard' %}">Xenon Health</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li {%if dashboard in request.path%} class="active" {%endif%} ><a href="{{ dashboard }}">Dashboard</a></li>
                    <li {%if make_claim in request.path%} class="active" {%endif%} ><a href="{{ make_claim }}">Make Claim</a></li>
                    <li {%if auditlog in request.path%} class="active" {%endif%} ><a href="{{ auditlog }}">Audit Log</a></li>
                    <li {%if gross_payment_summary in request.path %} class="active" {%endif%} ><a href="{{ gross_payment_summary }}">Gross Payment Summary</a></li>
                    <li {%if not change_password in request.path and admin_index in request.path%} class="active" {%endif%} ><a href="{{ admin_index }}">Database</a></li>
                    <li {%if change_password in request.path%} class="active" {%endif%} ><a href="{{ change_password }}">Change Password</a></li>
                    <li><a href="{{ sign_out }}">Sign Out</a></li>
                {% else %}
                    <li {%if sign_in in request.path%} class="active" {%endif%} ><a href="{{ sign_in }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
