<div class="row">
    <div class="col-xs-4 placeholder label-placeholder">Diagnonsis Pointer</div>
    <div class="col-xs-2">
        <select name="dx_pt_s1_{{i}}" required>
            <option selected disabled>---</option>
            {% for dx_pt in dx_pt_range %}
            <option value="{{dx_pt}}">{{ dx_pt }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-xs-2">
        <select name="dx_pt_s2_{{i}}">
            <option selected>---</option>
            {% for dx_pt in dx_pt_range %}
            <option value="{{dx_pt}}">{{ dx_pt }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-xs-2">
        <select name="dx_pt_s3_{{i}}">
            <option selected>---</option>
            {% for dx_pt in dx_pt_range %}
            <option value="{{dx_pt}}">{{ dx_pt }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-xs-2">
        <select name="dx_pt_s4_{{i}}">
            <option selected>---</option>
            {% for dx_pt in dx_pt_range %}
            <option value="{{dx_pt}}">{{ dx_pt }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<p></p>

<div class="row">
    <div class="col-xs-4">
        <input id="id_cpt_code_{{i}}" class="cpt_code" name="cpt_code_{{i}}" placeholder="CPT/HCPCS code" type="text" class=" form-control">
    </div>
    <div class="col-xs-2">
        <input type="text" name="mod_a_{{i}}" id="id_mod_a_{{i}}" placeholder="Mod A">
    </div>
    <div class="col-xs-2">
        <input type="text" name="mod_b_{{i}}" id="id_mod_b_{{i}}" placeholder="Mod B">
    </div>
    <div class="col-xs-2">
        <input type="text" name="mod_c_{{i}}" id="id_mod_c_{{i}}" placeholder="Mod C">
    </div>
    <div class="col-xs-2">
        <input type="text" name="mod_d_{{i}}" id="id_mod_d_{{i}}" placeholder="Mod D">
    </div>
</div>
<p></p>

<div class="row">
    <div class="col-xs-4">
        <input type="date" id="id_service_start_date_{{i}}" name="service_start_date_{{i}}" class="placeholder">
    </div>
    <div class="col-xs-3">
        <input id="id_place_of_service_{{i}}" name="place_of_service_{{i}}" placeholder="Place of Service" type="text">
    </div>
    <div class="col-xs-2">
        <input name="emg_{{i}}" placeholder="EMG" type="text">
    </div>
    <div class="col-xs-3">
        <input id="id_cpt_charge_{{i}}" name="cpt_charge_{{i}}" placeholder="Charges ($)" type="text" class=" form-control">
    </div>
</div>
<p></p>

<div class="row">
    <div class="col-xs-4">
        <button type="button" class="btn btn-info-outline btn-sm"  data-toggle="collapse" data-target="#collapse_{{i}}" aria-expanded="false" aria-controls="collapse_{{i}}">Calculator</button>
        <button type="button" class="btn btn-secondary btn-sm">Drug Information</button>
    </div>
    <div class="col-xs-8">
        <input type="text" name="note_{{i}}" id="id_note_{{i}}" placeholder="Note">
    </div>
</div>
<hr>

<script>
    (function() {
        var self = $('#id_service_start_date_{{i}}');

        self.click(function(e) {
            e.preventDefault();
        });

        var picker = new Pikaday({
            field: self[0],
            onSelect: function(date) {
                self.val(this.toString('YYYY-MM-DD'));
                self.removeClass('placeholder');
            }
        });
    })();
</script>


<div class="collapse" id="collapse_{{i}}">
    <div class="well row">
        <div class="col-lg-3 col-md-3">
            <div class="form-group">
                <label for="id_start_time_{{i}}">Start Time</label>
                <div class="input-group bootstrap-timepicker timepicker">
                    <input id="id_start_time_{{i}}" type="text" class="form-control input-small">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="form-group">
                <label for="id_end_time_{{i}}">End Time</label>
                <div class="input-group bootstrap-timepicker timepicker">
                    <input id="id_end_time_{{i}}" type="text" class="form-control input-small">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="id_base_units">Base Units</label>
                <input id="id_base_units" value="5">
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="id_time_units">Time Units</label>
                <input id="id_time_units" disabled>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="id_fees">Fees</label>
                <input id="id_fees">
            </div>
        </div>
    </div>
</div>

<script>
    // Time dropdown
        $('#id_start_time_{{i}}').timepicker({
            minuteStep: 1,
            appendWidgetTo: 'body',
            showSeconds: false,
            showMeridian: false,
            defaultTime: false
        });
        $('#id_end_time_{{i}}').timepicker({
            minuteStep: 1,
            appendWidgetTo: 'body',
            showSeconds: false,
            showMeridian: false,
            defaultTime: false
        });
         $('#timepicker1').timepicker();
        var year = '2013';
        var month = '04';
        var day = '18';

        $( 'body' ).click(function() {
            if($('#id_start_time_{{i}}').val().length>0 && $('#id_end_time_{{i}}').val().length>0){
                var reserv1 = new Date(year,month,day,$('#id_end_time_{{i}}').val().split(":")[0],$('#id_end_time_{{i}}').val().split(":")[1]);
                var reserv2 = new Date(year,month,day,$('#id_start_time_{{i}}').val().split(":")[0],$('#id_start_time_{{i}}').val().split(":")[1]);
                $('#id_time_units').prop('disabled', false);
                $('#id_time_units').val(Math.ceil((reserv1-reserv2)/(1000*60*15)));
                $('#id_time_units').prop('disabled', true);
            }   
        });
</script>