{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

    {% block title %} Patient Information {% endblock title %}

    {% block script %}

        
    {% endblock script %}
    {% block link %}
    {% endblock link %}


{% block body %}

<p><strong>Patient Information</strong></p>
{{patient_info}}

<p><strong>Primary Insurance</strong></p>
{{primary_insurance}}

<p><strong>Primary Payer</strong></p>
{{primary_insurance_payer}}

<p><strong>Secondary Insurance</strong></p>
{{secondary_insurance}}

<p><strong>Secondary Payer</strong></p>
{{secondary_insurance_payer}}

<p><strong>Tertiary Insurance</strong></p>
{{tertiary_insurance}}

<p><strong>Tertiary Payer</strong></p>
{{tertiary_insurance_payer}}


<div class="container" >
	<h2 class="text-center">Patient Information</h2>
        <p> 
            <ul>
                <li>Info about the patient</li>
            </ul>
        </p>
        <br/>

        <a id= "claimhistory" href="" class="btn btn-primary">Claims History</a>
        <br/><br/>
        <ul>
                <li>To display:</li>
                <ul>
                    <li> Link to Claim form</li>
                    <li> List of claims </li>
                    <li> Payment summary for selected claim </li>
                    <li> Payment Detail for selected claim </li>
                </ul>
        </ul>
    </div>


    <div class="row found-patient" id="found-patient">
    </div>

</div>
<script>

function getid() {
    var url = window.location.pathname;
    var myArray = /\/([0-9]+)\//g.exec(url);
    var id = myArray[1];
    console.log(id);
    return id;
}

$( document ).ready(function (){

    // set anchor tag
    var href="/patient/"+getid()+"/claimhistory/";
    $("#claimhistory").attr("href",href);

});

</script>

{% endblock body %}
