{% extends "base.html" %}

{% block title %} Patient Information {% endblock title %}

{% block body %}
<div class="container" >
	<h2 class="text-center">Patient Information</h2>
    <div class="col-sm-4" style="padding-right:20px;">
        <div class="header-line">Patient Information</div>
        <h4 style="display: inline-block;"><b>{{patient.full_name}}</b></h4>&nbsp;&nbsp;
        (Date of Birth:&nbsp;&nbsp;{{patient.dob}})<br>
        <table class="summary">
            <tr>
                <td>Chart No.:</td>
                <td>{{patient.chart_no}}</td>
            </tr>
            <tr>
                <td>Sex:</td>
                <td>{{patient.sex}}</td>
            </tr>
            <tr>
                <td>Race:</td>
                <td>{{patient.race}}</td>
            </tr>
            <tr>
                <td>Enthnicity:</td>
                <td>{{patient.ethnicity}}</td>
            </tr>
            <tr>
                <td>SSN:</td>
                <td>{{patient.ssn}}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{patient.full_address}}</td>
            </tr>
            <tr>
                <td>Home Phone:</td>
                <td>{{patient.home_phone}}</td>
            </tr>
            <tr>
                <td>Cell Phone:</td>
                <td>{{patient.cell_phone}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{patient.email}}</td>
            </tr>
        </table>

        <br>
        <div class="header-line">Primary Insurance</div>
        <table class="summary">
            <tr>
                <td>Payer:</td>
                <td>{{primary_insur.payer.name}}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{primary_insur.status}}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{primary_insur.full_address}}</td>
            </tr>
            <tr>
                <td>Insurance ID:</td>
                <td>{{primary_insur.insurance_id}}</td>
            </tr>
        </table>

        <br>
        <div class="header-line">Secondary Insurance</div>
        {% if secondary_insur %}
        <table class="summary">
            <tr>
                <td>Payer:</td>
                <td>{{secondary_insur.payer.name}}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{secondary_insur.status}}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{secondary_insur.full_address}}</td>
            </tr>
            <tr>
                <td>Insurance ID:</td>
                <td>{{secondary_insur.insurance_id}}</td>
            </tr>
        </table>
        {% else %}
            No secondary insurance on file<br>
        {% endif %}

        <br>
        <div class="header-line">Tertiary Insurance</div>
        {% if tertiary_insur %}
        <table class="summary">
            <tr>
                <td>Payer:</td>
                <td>{{tertiary_insur.payer.name}}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{tertiary_insur.status}}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{tertiary_insur.full_address}}</td>
            </tr>
            <tr>
                <td>Insurance ID:</td>
                <td>{{tertiary_insur.insurance_id}}</td>
            </tr>
        </table>
        {% else %}
            No tertiary insurance on file<br>
        {% endif %}

    </div>
    <div class="col-sm-8" style="padding-left:20px;">
        <a id= "claimhistory" href="{% url 'displayContent:view_claims' chart=patient.chart_no %}" class="btn btn-primary">Claims History</a>
        <a href="{% url 'infoGatherer:post_ad' %}?patient={{patient.chart_no}}" class="btn btn-default">Make Claim</a>
        <br>
        <br>
        <div class="header-line">Gaurantor</div>

        {% if patient.guarantor %}
            {% with guarantor=patient.guarantor %}
                <div class="row">
                    <div class="col-sm-6">
                        {{guarantor.full_name}}<br>
                        {{guarantor.dob|date:"M d, Y"}} ({{guarantor.age}})<br>
                        {{guarantor.full_address}}<br>
                    </div>
                    <div class="col-sm-6">
                        <table>
                            <tr>
                                <td style="width: 50px;"><b>Home: </b></td>
                                <td>{{guarantor.home_phone}}</td>
                            </tr>
                            <tr>
                                <td><b>Cell: </b></td>
                                <td>{{guarantor.cell_phone}}</td>
                            </tr>
                            <tr>
                                <td><b>Email: </b></td>
                                <td>{{guarantor.email}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endwith %}
        {% endif %}

        <br>
        <div class="header-line">A/R Aging (days)</div>
        <table class="table table-striped table-condensed table-aging">
            <thead>
                <tr>
                    <th></th>
                    <th>0-30</th>
                    <th>31-60</th>
                    <th>61-90</th>
                    <th>91-120</th>
                    <th>>120</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Patient Aging</td>
                    <td>${{aging.p_m1}}</td>
                    <td>${{aging.p_m2}}</td>
                    <td>${{aging.p_m3}}</td>
                    <td>${{aging.p_m4}}</td>
                    <td>${{aging.p_m5}}</td>
                    <td>${{aging.p_t}}</td>
                </tr>
                <tr>
                    <td>Insurance Aging</td>
                    <td>${{aging.i_m1}}</td>
                    <td>${{aging.i_m2}}</td>
                    <td>${{aging.i_m3}}</td>
                    <td>${{aging.i_m4}}</td>
                    <td>${{aging.i_m5}}</td>
                    <td>${{aging.i_t}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>${{aging.m1_t}}</td>
                    <td>${{aging.m2_t}}</td>
                    <td>${{aging.m3_t}}</td>
                    <td>${{aging.m4_t}}</td>
                    <td>${{aging.m5_t}}</td>
                    <td>${{aging.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="row found-patient" id="found-patient">
</div>
{% endblock body %}
