{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

    {% block title %} Claim Details {% endblock title %}

    {% block script %}

        
    {% endblock script %}
    {% block link %}
    {% endblock link %}


{% block body %}

<div class="container">
    <div class="col-xs-6" style="padding-right:20px; border-right: 1px solid #ccc;">
        <h3 class="text-center">Claim Searches</h3>
            {{claim}}
    </div>
    <div class="col-xs-6">
        <h3 class="text-center">Claim Details</h3>
            <ul>
                <li> show claim info </li>
            </ul>
    </div>
</div>


{% endblock body %}